.TicTacToe_board {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 600px;
    margin: 0 auto;
}

.TicTacToe_board li {
    width: 197px;
    height: 200px;
    display: inline-block;
    vertical-align: middle;
    line-height: 200px;
    background: #EAEAEA;
    border: 1px solid #000;
}

.TicTacToe_GameStatus {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
